server:
  port: 8080

spring:
  application:
    name: gateway-service
  
  # Redis配置
  redis:
    host: localhost
    port: 6379
    password: 123456
    database: 0
  
  # Nacos配置
  cloud:
    nacos:
      discovery:
        enabled: false
      config:
        enabled: false
    
    # Gateway配置
    gateway:
      routes:
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1
        - id: destination-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/destination/**
          filters:
            - StripPrefix=1
        - id: trip-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/trip/**
          filters:
            - StripPrefix=1
        - id: booking-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/booking/**
          filters:
            - StripPrefix=1
        - id: message-service
          uri: http://localhost:8087
          predicates:
            - Path=/api/message/**
          filters:
            - StripPrefix=1
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"

# 日志配置
logging:
  level:
    org.springframework.cloud.gateway: debug
